<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>자기전에 50원!</title>

    <link rel="stylesheet" href="../static/css/home.css">
    <!-- 폰트패밀리 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">
    <!-- 폰트어썸 아이콘 -->
    <script src="https://kit.fontawesome.com/d1585670e7.js" crossorigin="anonymous"></script>
</head>

<body id="body">
    <!-- 헤더입니다. -->
    <div id="header">
        <div id="roundTitle">
            <div id="title">
                자기전에 50원
            </div>
            <div id="login">
                <a id="loginlink" href="http://">로그인</a> 
            </div>
        </div>
    </div>

    <!-- 바디시작입니다. -->
    <div id="bodyOuter">
        <!-- 왼쪽섹션입니다. -->
        <div class="mainSection" id="leftSection"></div>
        
        <!-- 가운데 섹션입니다. -->
        <div class="mainSection" id="centerSection">
            <div id="contents">

                <div class="contentsDiv">
                    <div class="innerDivTop">
                        <a href="https://campaign.naver.com/npay/click-point/?eventId=cr_2022041103_2204_2_1730" class="hyperlink">https://campaign.naver.com/npay/click-point/?eventId=cr_2022041103_2204_2_1730</a>
                    </div>
                    <div class="innerDivDown">
                        <i class="fa-solid fa-person-chalkboard"></i> gns3163 &nbsp;&nbsp;
                        <i class="fa-solid fa-eye" style="color: green;"></i> 1232     &nbsp;&nbsp; 
                        <i class="fa-solid fa-heart" style="color: red;"></i> 12  &nbsp;&nbsp;&nbsp;&nbsp;
                        <i class="fa-solid fa-sack-dollar" style="color: rgb(255, 187, 0);"></i> 30 원 &nbsp;
                    </div>
                </div>
                <div class="contentsDiv">

                </div>
                <div class="contentsDiv"></div>
                <div class="contentsDiv"></div>
                <div class="contentsDiv"></div>
                <div class="contentsDiv"></div>
                <div class="contentsDiv"></div>
                <div class="contentsDiv"></div>
                <div class="contentsDiv"></div>
                <div class="contentsDiv"></div>
                <div class="contentsDiv"></div>
                <div class="contentsDiv"></div>
                <div class="contentsDiv"></div>
                <div class="contentsDiv"></div>
                <div class="contentsDiv"></div>
                <div class="contentsDiv"></div>
                <div class="contentsDiv"></div>
                <div class="contentsDiv"></div>
                <div class="contentsDiv"></div>
                <div class="contentsDiv"></div>
                <div class="contentsDiv"></div>
                <div class="contentsDiv"></div>
                <div class="contentsDiv"></div>
                <div class="contentsDiv"></div>

            </div>
        </div>

        <!-- 오른쪽 섹션입니다. -->
        <div class="mainSection" id="rightSection">
            <div id="login">

            </div>
        </div>
    </div>

    <div class="divider">

    </div>
    <!-- 푸터시작 -->
    <div id="footer">
        <div id="footerIn">
            비 상업적으로 운영중인 서비스 입니다. <br><br>
            티끌을 쉽게 모으기 위해 만들었습니다 ! <br>
            이용에 불편이 있다면 gns3163@naver.com 로 메일을 보내주세요. <br>



        </div>
    </div>

</body>
</html>






